body {
	background-image: url('../images/background.png');
	background-repeat: no-repeat;
	background-position: center;
	background-position-y: initial;
	background-color: #fcfcfc;
}


header {
	align-content: center;
	display: block;
}


main {
	margin-top: 50px;
}


footer {
	position: bottom;
	left: 0;
	bottom: 0;
	height: 180px;
	border-top: 1px solid black;
	background-color: rgba(223, 219, 195, 0.253);
}


#logo {
	display: block;
	margin-left: auto;
	margin-right: auto;
}


.delimiter {
    border: 0;
	height: 2px;
	background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.center {
	display: flex;
	justify-content: center;
}

.right {
	display: flex;
	justify-content: right;
}

/* Navigation bar */

nav ul{
    display: block;
    list-style: none;
    font-family: "Century Gothic", Verdana, Arial, Sans-Serif;    
    margin: 0;
    padding: 0;
	font-size: 1.1em;
}

nav ul li {
    float: left;
	position: relative;
}


nav ul li a {
    float: left;
    display: block;
	padding: 4px;
	text-decoration: none;
    color: #575a60;
    text-transform: uppercase;
    margin-right: 10px;
}


nav ul li a:hover {
    background: #575a60;
	color: #fff;
}


/* child items */
nav ul li ul {
	display: none;
	font-size: 0.9em;
}


nav ul li:hover ul {
	display: block;
}


nav ul li ul {
	float: left;
	display: none;
	position: absolute;
	top: 8mm;
	padding: 0;
}


nav ul li ul li {
	float: none;
	clear: none;
}


nav ul li ul li a {
    float: left;
    display: block;
	padding: 4px;
	text-decoration: none;
	color: red;
    text-transform: uppercase;
    margin-right: 10px;
}

section {
	margin-top: 3%;
	margin-left: 20%;
	margin-right: 20%;
}

.collection-row {
    clear: both;
    width: 100%;
}

.collection-item {
    float: left;
	max-height: 400px;
	margin: 1%;
	max-width: 300px;
	border-radius: .5em;
    border: 1px solid #575a60;
}

.collection-item:hover {
	box-shadow: -5px 5px 30px #888888;
}

.collection-item img {
	height: 100%;
	width: 100%;
	border-radius: .5em;
	object-fit: contain;
}



footer ul {
	display: block;
	list-style: none;
}

footer ul li {
	display: block;
	float: left;
	position: relative;
	padding: 10px;
}

footer div {
	float: left;
	margin-left: 15%;
}

.find-us {
	text-align: right;
}


footer form input {
	width: 70%;
	font-size: 1.2em;
	border: none;
}

footer form button {
	width: 30%;
	position: center;
	border: none;
	height: 30px;
	background-color: #624a00;
	color: white;
}